<section class="ui stacked segment form">
    <header class="ui header">
        ${_station.name}
    </header>
    #{list items:_station.readings, as:'reading'}
    #{if reading_isLast}
    <div class="ui equal width padded grid">
        <div class="stretched row">
            <div class="column">
                <div class="ui inverted segment">
                    <div class="ui segments">
                        <div class="ui horizontal segments">
                            <div class="ui inverted segment">
                                <h1 class="ui grey small header">${_station.name}</h1>
                            </div>
                            <div class="ui inverted segment">
                                <i class="purple big map marker icon"></i>
                            </div>
                        </div>
                        <div class="ui inverted segment">
                            <p>Lat: ${_station.latitude}</p>
                            <p>Lng: ${_station.longitude}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui inverted segment">
                    <div class="ui segments">
                        <div class="ui horizontal segments">
                            <div class="ui inverted segment">
                                <h1 class="ui grey small header"> Weather</h1>
                            </div>
                            <div class="ui inverted segment">
                                <i class="yellow big cloud sun icon"></i>
                            </div>
                        </div>
                        <div class="ui inverted segment">
                            <p>${reading.codeToWeather(reading.code)}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui inverted segment">
                    <div class="ui segments">
                        <div class="ui horizontal segments">
                            <div class="ui inverted segment">
                                <h1 class="ui grey small header">Temp</h1>
                            </div>
                            <div class="ui inverted segment">
                                <i class="brown big temperature low icon"></i>
                            </div>
                        </div>
                        <div class="ui horizontal segments">
                            <div class="ui inverted segment">
                                <p>${reading.temperature} °C</p>
                                <p>${reading.ceToFa(reading.temperature)} °F</p>
                            </div>
                            <div class="ui inverted segment">
                                #{if _station.temperatureTrend(_station.readings) == 2}
                                <i class="big red arrow up icon"></i>
                                #{/if}
                                #{if _station.temperatureTrend(_station.readings) == 1}
                                <i class="big blue arrow down icon"></i>
                                #{/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui inverted segment">
                    <div class="ui segments">
                        <div class="ui horizontal segments">
                            <div class="ui inverted segment">
                                <h1 class="ui  inverted small header">Wind </h1>
                            </div>
                            <div class="ui inverted segment">
                                <i class="green big wind icon"></i>
                            </div>
                        </div>
                        <div class="ui horizontal segments">
                            <div class="ui fitted inverted segment">
                                <div class="ui small list">
                                    <div class="item">${reading.windInBf(reading.windSpeed)} bft</div>
                                    <div class="item">
                                        ${reading.windDirectionString(reading.windDirection)}
                                    </div>
                                    <div class="item">feels like ${reading.windChill(reading.temperature,
                                        reading.windSpeed)}

                                    </div>
                                    <div class="item">Max:
                                        ${_station.getMaxWindSpeed(_station.readings)} bft
                                    </div>
                                    <div class="item">Min:
                                        ${_station.getMinWindSpeed(_station.readings)} bft
                                    </div>
                                </div>
                            </div>
                            <div class="ui inverted segment">
                                #{if _station.windTrend(_station.readings) == 2}
                                <p>
                                    <i class="big red arrow up icon"></i>
                                </p>
                                #{/if}
                                #{if _station.windTrend(_station.readings) == 1}
                                <p class="ui grey inverted tiny header">
                                    <i class="big blue arrow down icon"></i>
                                </p>
                                #{/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui inverted segment">
                    <div class="ui segments">
                        <div class="ui horizontal segments">
                            <div class="ui inverted segment">
                                <h1 class="ui inverted small header">Pressure </h1>
                            </div>
                            <div class="ui inverted segment">
                                <i class="orange big globe icon"></i>
                            </div>
                        </div>
                        <div class="ui horizontal segments">
                            <div class="ui fitted inverted segment">
                                <p>${reading.pressure} hpa</p>
                                <p>Max:
                                    ${_station.getMaxPressure(_station.readings)} hpa</p>
                                <p>Min:
                                    ${_station.getMinPressure(_station.readings)} hpa</p>
                            </div>
                            <div class="ui inverted segment">
                                #{if _station.pressureTrend(_station.readings) == 2}
                                <p>
                                    <i class="big red arrow up icon"></i>
                                </p>
                                #{/if}
                                #{if _station.pressureTrend(_station.readings) == 1}
                                <p>
                                    <i class="big blue arrow down icon"></i>
                                </p>
                                #{/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #{/if}
    #{/list}
</section>