<section class="ui stacked segment form">
    <header class="ui header">
        ${_station.name}
    </header>
    #{list items:_station.readings, as:'reading'}
    #{if reading_isLast}
    <div class="ui equal width padded grid">
        <div class="black column">
            <h1 class="ui grey inverted small header">${_station.name}</h1>
            <i class="cloud sun icon"></i>
        </div>
        <div class="black column">
            <h1 class="ui grey inverted small header"> Weather</h1>
            <i class="map marker icon"></i>
            <p class="ui grey inverted tiny header">${reading.codeToWeather(reading.code)}</p>
        </div>
        <div class="black column">
            <h1 class="ui grey inverted small header">Temp</h1>
            <i class="temperature low icon"></i>
            <p class="ui grey inverted tiny header">${reading.temperature} C</p>
            <p class="ui grey inverted tiny header">${reading.ceToFa(reading.temperature)} F</p>
            #{if _station.temperatureTrend(_station.readings) == 2}
            <p class="ui grey inverted tiny header">
                <i class="arrow up icon"></i>
            </p>
            #{/if}
            #{if _station.temperatureTrend(_station.readings) == 1}
            <p class="ui grey inverted tiny header">
                <i class="arrow down icon"></i>
            </p>
            #{/if}
        </div>
        <div class="black column">
            <h1 class="ui grey inverted small header">Wind</h1>
            <i class="wind icon"></i>
            <p class="ui grey inverted tiny header">${reading.windInBf(reading.windSpeed)} bft</p>
            <p class="ui grey inverted tiny header">${reading.windDirectionString(reading.windSpeed)} bft</p>
            <p class="ui grey inverted tiny header">${reading.windChill(reading.temperature, reading.windSpeed)} bft</p>
            <p class="ui grey inverted tiny header">Max: ${_station.getMaxWindSpeed(_station.readings)}</p>
            <p class="ui grey inverted tiny header">Min: ${_station.getMinWindSpeed(_station.readings)}</p>
            #{if _station.windTrend(_station.readings) == 2}
            <p class="ui grey inverted tiny header">
                <i class="arrow up icon"></i>
            </p>
            #{/if}
            #{if _station.windTrend(_station.readings) == 1}
            <p class="ui grey inverted tiny header">
                <i class="arrow down icon"></i>
            </p>
            #{/if}
        </div>
        <div class="black column">
            <h1 class="ui grey inverted small header">Pressure</h1>
            <i class="globe icon"></i>
            <p class="ui grey inverted tiny header">${reading.pressure} hpa</p>
            <p class="ui grey inverted tiny header">Max: ${_station.getMaxPressure(_station.readings)}</p>
            <p class="ui grey inverted tiny header">Min: ${_station.getMinPressure(_station.readings)}</p>
            #{if _station.pressureTrend(_station.readings) == 2}
            <p class="ui grey inverted tiny header">
                <i class="arrow up icon"></i>
            </p>
            #{/if}
            #{if _station.pressureTrend(_station.readings) == 1}
            <p class="ui grey inverted tiny header">
                <i class="arrow down icon"></i>
            </p>
            #{/if}
        </div>
    </div>
    #{/if}
    #{/list}
</section>